@media screen and (max-width: 420px) {
    .layer {
        width: 420px;
        height: 736px;

    }

    .registr_box {
        width: 370px;
    }
}

@media screen and (max-width: 375px) {
    .layer {
        width: 375px;

    }

    .registr_box {
        width: 335px;
    }
}

@media screen and (max-width: 320px) {
    .layer {
        width: 320px;
        height: 570px;
    }

    .registr_box {
        width: 295px;
    }

    .form_layer {
        height: 80%;
    }
}